<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div id="body">
    <div id="navbar">
      <%= render "shared/navbar" %>
    </div>

        <p>fhjfsk</p>
        <div class="col" id="central-container">
          <%= yield %>
        </div>
        <p>sdksaf</p>

    <div id="footer">
      <%= render "shared/footer" %>
    </div>
  </div>




  </body>
</html>
